/* ---- 💫 Complete Cyberpunk Pink/Purple Theme 💫 ---- */
/* Define Variables */
/* Main Colors */

@define-color fg         #f4cddb;
@define-color bg         #1c1c1c;
@define-color br         #f4cddb;

/*@define-color active-bg       #b2939b;*/
/*@define-color active-fg       #1b1116z;*/

@define-color hover-bg        #313244;
@define-color hover-fg        rgba(205, 214, 244, 0.75);

@define-color white           #ffffff;
@define-color black           #000000;
@define-color pink           #ff598b;
@define-color pink2           #C51C6D;

/* Module Colors */

@define-color module-fg       #f5e0dc;


/* State Colors */

@define-color good            #f5e0dc;
@define-color warning         #f9e2af;
@define-color critical        #f38ba8;
@define-color full            #a6e3a1;
@define-color charging        #cdd6f4;



@define-color color1            #25181f;
@define-color color2         #b17a8c;
@define-color color3        #7b435a;
@define-color color4            #8b4d67;
@define-color color5        #FFC4D6;
/* General Settings */
* {
	font-family: "EurostileMed", Monospace;
	font-size: 14px;
	font-weight: normal;
	background-color: transparent;
	/*color: #fff2fb;*/
	/*text-shadow: 0 0 2px rgba(255, 15, 127, 0.91), 0 0 5px rgba(255, 173, 212, 0.89);*/
	min-height: 0;
	padding: 0;
	border: none;
	margin: 0;
}

/* Bar Settings */
window#waybar {
	/*background: rgba(30, 28, 29, 0.95);*/
	background:transparent;
}

/* Tooltip */
tooltip {
	background: rgba(30, 20, 50, 0.95);
	color: #f0d8ff;
	/*border: 1px solid #bf80ff;*/
	border-radius: 8px;
	padding: 4px 4px;
	text-shadow: 0 0 6px #bf80ff;
}
.modules-left, .modules-center, .modules-right {
	/*padding: 3px;*/
	margin: 4px;
	/*color: #a15b73;           !* Text color *!*/
	/*background: #815162;*/
	border-radius: 8px;
	/*box-shadow: 0px 0px 2px 0.1rem rgb(248, 187, 210);*/
}


.module {
	margin: 0 3px;
}
/* Custom Icons */
motherboard {
	padding: 10px ;
	background-color: @main-bg;
}

#custom-menu,
#custom-keyboard,
#custom-notifications,
#custom-player
{
	color: #f1a0be;           /* Text color */

	/*text-shadow: 0 0 1px rgb(169, 0, 78);*/
	/*padding: 6px 10px;         !* Space around text/icons *!*/
	border-radius: 0;       /* Slightly rounded corners */
	/*margin-right: 5px;        !* Spacing between modules *!*/
	/*border: 1px outset #f7a6c5;*/
	/*box-shadow: 0 0 5px rgba(63, 63, 87, 0.79), 0 0 2px #ff287b;*/
}


#custom-menu,
#custom-power {
	background: #d99cb5;
	color: rgb(45, 36, 45);
	border: 2px outset rgb(45, 36, 45);
	padding: 4px 14px 4px 10px;
	border-radius: 5px;
	/*margin-right: 5px;*/
}


/*#custom-keyboard {*/
/*    background-color: @color3;*/
/*    color: #ECEFF4;*/
/*    padding: 4px 8px;*/
/*    border-radius: 4px;*/
/*    margin-right: 5px;*/
/*}*/

/*#custom-notifications {*/
/*    background-color: @color4;*/
/*    color: #ECEFF4;*/
/*    padding: 4px 8px;*/
/*    border-radius: 4px;*/
/*    margin-right: 5px;*/
/*}*/


#custom-player {
	/*background-image:*/
	/*        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),*/
	/*        url("/tmp/spotify_album_art_cropped.jpg");*/
	/*background-blend-mode: darken;   !* or multiply/overlay/etc. *!    background-repeat: no-repeat;*/
	/*background-position: center;*/
	/*background-size: cover;*/
	/* Optional: maybe give it a fixed height or some padding
       so you can actually see the art: */
	padding: 3px 8px;
}

#custom-separator {
	font-size: 25px;
	font-weight: lighter;
}
#player, #right, #motherboard, #taskbar, #clock, #workspaces {
	color: #da4088;
	background: rgb(45, 36, 45);
	/*border: 1px solid #da4088;*/
	padding: 3px 10px 3px 10px;
	border-radius: 5px;
	margin: 0px 4px;
 }