/* ---- 💫 Complete Cyberpunk Pink/Purple Theme 💫 ---- */
/* Define Variables */
/* Main Colors */

@define-color main-fg         #f4cddb;
@define-color main-bg         #1c1c1c;
@define-color main-br         #f4cddb;

/*@define-color active-bg       #b2939b;*/
/*@define-color active-fg       #1b1116z;*/

@define-color hover-bg        #313244;
@define-color hover-fg        rgba(205, 214, 244, 0.75);

@define-color white           #ffffff;
@define-color black           #000000;
@define-color pink           #ff598b;
@define-color pink2           #C51C6D;

/* Module Colors */

@define-color module-fg       #f5e0dc;

@define-color cpuinfo         #181825;
@define-color memory          #1e1e2e;
@define-color cpu             #313244;
@define-color distro-fg       #000000;
@define-color distro-bg       #9399b2;
@define-color time            #313244;
@define-color date            #1e1e2e;
@define-color tray            #181825;

@define-color pulseaudio      #181825;
@define-color backlight       #1e1e2e;
@define-color battery         #313244;
@define-color power           #9399b2;

/* State Colors */

@define-color good            #f5e0dc;
@define-color warning         #f9e2af;
@define-color critical        #f38ba8;
@define-color full            #a6e3a1;
@define-color charging        #cdd6f4;



@define-color color1            #25181f;
@define-color color2         #b17a8c;
@define-color color3        #7b435a;
@define-color color4            #8b4d67;
@define-color color5        #FFC4D6;
/* General Settings */
* {
    font-family: "Oxanium",Monospace;
    font-size: 16px;
    font-weight: normal;
    background-color: transparent;
    /*color: #fff2fb;*/
    /*text-shadow: 0 0 2px rgba(255, 15, 127, 0.91), 0 0 5px rgba(255, 173, 212, 0.89);*/
    min-height: 0;
    padding: 0;
    border: none;
    margin: 0;
}

/* Bar Settings */
window#waybar {
    background: rgba(33, 22, 26, 0.91);
    /*background:transparent;*/
    border-radius: 10px;
}

/* Tooltip */
tooltip {
    background: rgba(30, 20, 50, 0.95);
    color: #f0d8ff;
    /*border: 1px solid #bf80ff;*/
    border-radius: 8px;
    padding: 4px 4px;
    text-shadow: 0 0 6px #bf80ff;
}
.modules-left, .modules-center, .modules-right {
    /*padding: 3px;*/
    border: 1px solid rgba(217, 141, 165, 0.68);
    margin: 4px;
    color: #21161a;           /* Text color */
    background: rgba(194, 84, 126, 0.66);
    /*background: #815162;*/
    border-radius: 8px;
    /*box-shadow: 0px 0px 2px 0.1rem rgb(248, 187, 210);*/
}
.module {
    margin: 0 3px;
}
/* Custom Icons */
motherboard {
    padding: 10px ;
    background-color: @main-bg;
}

#backlight {
    padding-right: 2px;
}

#custom-cycle_wall {
    padding-right: 2px;
}
#network {
    padding-right: 12px;
}

#taskbar.empty {
    background: none;
}

/* Apply the same style to the listed modules */
#custom-menu,
#custom-keyboard,
#custom-notifications,
/*#motherboard,*/
#custom-player
{
    color: #ffc3db;           /* Text color */

    /*text-shadow: 0 0 1px rgb(169, 0, 78);*/
    /*padding: 6px 10px;         !* Space around text/icons *!*/
    border-radius: 0;       /* Slightly rounded corners */
    /*margin-right: 5px;        !* Spacing between modules *!*/
    /*border: 1px outset #f7a6c5;*/
    /*box-shadow: 0 0 5px rgba(63, 63, 87, 0.79), 0 0 2px #ff287b;*/
}


#custom-wlr-taskbar {
    padding: 10px;
    margin:10px;
}
#custom-menu,
#custom-power {
    background: #ffc3db;
    color: @main-bg;
    padding: 2px 14px 2px 10px;
    border-radius: 5px;
    margin: 4px
    /*margin-right: 5px;*/
}

/*#clock {*/
/*    background: @color2;*/
/*    padding: 4px 8px;*/
/*    margin-right: 5px;*/
/*}*/

/*#custom-keyboard {*/
/*    background-color: @color3;*/
/*    color: #ECEFF4;*/
/*    padding: 4px 8px;*/
/*    border-radius: 4px;*/
/*    margin-right: 5px;*/
/*}*/

/*#custom-notifications {*/
/*    background-color: @color4;*/
/*    color: #ECEFF4;*/
/*    padding: 4px 8px;*/
/*    border-radius: 4px;*/
/*    margin-right: 5px;*/
/*}*/


/*#motherboard {*/
/*    background-color: @main-fg; !* Example dark background *!*/
/*    padding: 4px 8px;         !* Space around text/icons *!*/

/*}*/
/* This targets the Waybar module named "custom/player"
   => In the config, that module's ID is "#custom-player"
*/
#custom-player {
    /*background-image:*/
    /*        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),*/
    /*        url("/tmp/spotify_album_art_cropped.jpg");*/
    /*background-blend-mode: darken;   !* or multiply/overlay/etc. *!    background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /* Optional: maybe give it a fixed height or some padding
       so you can actually see the art: */
    padding: 3px 8px;
    /* Space around text/icons */
/*font-weight: bold;*/
}
/*#custom-cava_mviz {*/
/*    color: @pink2;*/
/*    text-shadow: 1px 1px 2px rgb(247, 166, 215);*/
/*    padding: 4px 8px;*/
/*    margin-right: 5px;*/
/*}*/

#custom-separator {
    font-size: 25px;
    font-weight: lighter;
}
#custom-icon-left {
    color: #000000;
    font-size: 34px;
    margin-top: -24px;
    margin-right: -14px;
}

#custom-icon-left-outer {
    color: #000000;
    font-size: 34px;
    margin-top: -24px;
    margin-right: -14px;
    margin-left: 10px;
}

#custom-icon-split {
    background-color: transparent;
    color: #846bc4;
    font-size: 12px;
}

#custom-icon-right {
    color: #000000;
    font-size: 34px;
    margin-top: -24px;
    margin-left: -13px;
}

#custom-icon-right-outer {
    color: #000000;
    font-size: 34px;
    margin-top: -24px;
    margin-left: -13px;
    margin-right: 10px;
}